* {
    background-color: bisque;
}
html {
    font-size: 62.5%;
}
textarea {
    display: block;
}
label {
    display: block;
}
input, textarea, select {
    background-color: rgb(251, 207, 154);
}
button {
    margin-top: 0.5rem;
    display: block;
}
.button {
    padding: 0.5rem;
    border: 0.2rem solid black;
    border-radius: 1rem;
}
img {
    margin: 1rem 0;
    max-width: 50vw;
    max-height: 50vh;
}
.keywords {
    font-style: italic;
}
.hidden {
    display: none;
}